.itemBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;

  padding: 10px;
  background-color: rgba(245, 245, 245, 0.732);
  width: 350px;
  box-shadow: 0 4px 10px rgba(77, 77, 77, 0.1);
}
.text {
  font-size: large;
}
.contactInfo {
  display: flex;
  flex-direction: column;
}

.nameBox,
.phoneBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconNumber {
  color: #00a00bfe;
  font-size: 20px;
}
.iconName {
  color: #00329feb;
  font-size: 20px;
}
